.LoginRoute {
  background-color: #000000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-cont {
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputCont {
  width: 100%;
  margin-top: 25px;
}
.input-element {
  width: 100%;
  padding: 15px 20px 15px 20px;
  border: 1px solid #64748b;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  outline: none;
  color: #ffffff;
}
.label-text {
  color: #f8fafc;
  margin-top: 20px;
  font-family: 'Roboto';
}
.btn-primary {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: #4f46e5;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto';
}
@media screen and (max-width: 430px) {
  .width-cont {
    width: 80%;
  }
  .img-logo {
    width: 100px;
  }
  .padding-cont {
    padding: 30px 10px 30px 10px;
  }
}

@media screen and (min-width: 768px) {
  .width-cont {
    width: 35%;
  }
  .padding-cont {
    padding: 40px;
  }
}
.err {
  color: #ff0b37;
}
